@import "../../common/colors.scss";

.footer {
    font-family: $font-family-primary;
    background-color: $secondary-color;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $font-primary;
    flex-direction: column;
    h3, h4 {
        margin: 5px;
    }
}
